.navClass {
    padding: 10px 0px 10px 0px;
    background-color: rgb(229, 238, 190);
    border: 1px solid #000;

}

#write {
    margin-right: 10px;
}

.listName {
    border-bottom: 1px solid #000;
    padding: 10px 10px 10px 0px;
}

.listName>a {
    text-decoration: none;
}